*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.all-svg {
  display: none;
}

.video-container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  user-select: none;
}

video {
  width: 100%;
}

.video-container.full-screen {
  max-width: inherit;
  width: 100%;
  max-height: 100vh;
}
.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 100;
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within
  .video-controls-container
  .video-container.paused
  .video-controls-container {
  opacity: 1;
}

.video-controls-container .controls {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
}
.video-controls-container .controls button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1.1rem;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.video-controls-container .controls button:hover {
  opacity: 1;
}
.video-container.paused .pause-icon {
  display: none;
}
.video-container:not(.paused) .play-icon {
  display: none;
}
.video-container.full-screen .open {
  display: none;
}
.video-container:not(.full-screen) .close {
  display: none;
}

.svg-icon {
  width: inherit;
  height: inherit;
}
.volume-high,
.volume-mute {
  display: none;
}

.video-container[data-volume-level="high"] .volume-high {
  display: block;
}

.video-container[data-volume-level="mute"] .volume-mute {
  display: block;
}

.volume-container {
  display: flex;
  align-content: center;
}

.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  width: 100px;
  transform: scaleX(1);
}
.duration-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}

.video-container .controls button.wide-btn {
  width: 50px;
}

.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 150ms ease-in-out;
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  width: 100%;
  height: 3px;
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--position-porgress) * 100%);
  background-color: red;
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--position-porgress) * 100%);
  background-color: red;
  border-radius: 50%;
  /* transition: all 150ms ease-in-out; */
  aspect-ratio: 1 / 1;
}

.timeline .prevview-img {
  position: absolute;
  height: 80px;
  aspect-ratio: 16 /9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: 0.25rem;
  border: 2px solid white;
  display: none;
}
.thumbneil-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  background: #00000057;
  display: none;
}
.video-container.scrubbing .thumbneil-img {
  display: block;
}

.video-container.scrubbing .prevview-img,
.timeline-container:hover .prevview-img {
  display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}
.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}
